body {
    font-family: sans-serif;
    padding: 0px;
}

#box{
    display: flex;
    gap: 10vw;
}

.upload{
    margin-top: 1vh;
}

.hand_img {
    margin-top: 5vh;
    max-width: 35vw;
    border: 2px solid #ccc;
    display: none; /* 初期は非表示 */
    object-fit: contain;
}